.board {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: xx-large;
    flex-wrap: wrap;
}

.btnbtn {
    margin-right: 8px;
}

.resetBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}